*,
*:before
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 450px;
    background-color: aquamarine;
    padding: 70px 40px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
}
.content{
    width: 45%;
}

input{
    border-radius: 5px;
    width: 100%;
    height: 50%;
    padding: 10px;
    border: 2px #ccc solid;
    margin-top: 8px;
    padding: 0 10px;
}
input:focus{
    /* outline: rgb(18, 168, 255); */
    border-color: rgb(18, 168, 255);
}